<p></p>

<div class="col-md-12">  
  <div class="container">
    <ol class="breadcrumb text-left">
      <li><%= link_to "Home", root_path %></li>
      <li><a href="#">Events</a></li>
      <li class="active">All Events</li>
    </ol>
  </div>
</div>

<div class="col-md-12">
  <div class="container-fluid">
    <div class="jumbotron-title">
      <h2 class="base-text text-center">SC Events</h2>
    </div>
    <div class="jumbo-table">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-center thead-brand">Event</th>
            <th class="text-center thead-brand lg_md_only">Description</th>
            <th class="text-center thead-brand">Cost</th>
            <th class="text-center thead-brand">Begins</th>
            <th class="text-center thead-brand lg_md_only">Ends</th>
            <!-- <th class="text-center thead-brand">Start</th>
            <th class="text-center thead-brand">Finish</th> -->
            
            <th colspan="3" class="text-center thead-brand"> Admin</th>
          </tr>
        </thead>

        <tbody class="text-center row-fluid">
          <% @events.each do |event| %>
            <tr>
              <td><%= event.event_name %></td>
              <td class="lg_md_only"><%= event.event_desc %></td>
              <td><%= event.cost.to_s(:currency) %></td>
              <td><%= event.start_date.to_s(:short) %></td>
              <td class="lg_md_only"><%= event.end_date.to_s(:short) %></td>
              <!-- <td><%= event.start_time.to_s(:short) %></td>
              <td><%= event.end_time.to_s(:short) %></td> -->

              
              <td style="border-style: none;">
                <%= link_to event do %>
                  <i class="glyphicon glyphicon-info-sign"></i>
                <% end %>
              </td>

              
              <td style="border-style: none;">
                <%= link_to edit_event_path(event) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              </td>

              <td style="border-style: none;">
                <%= link_to event_path(event), method: :delete, data: { confirm: 'Are you sure you want to delete this event?' } do %>
                  <i class="glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="col-md-12">
        <div class="row" style="float: left; letter-spacing: 0;">

          <%= link_to :back, class: 'btn btn-lg btn-brand' do %>
            <i class="glyphicon glyphicon-hand-left"> Back</i>
          <% end %>
            
          <%= link_to new_event_path, class: 'btn btn-lg btn-brand' do %>
            <i class="glyphicon glyphicon-plus-sign"> Event</i>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>
