<!-- Carousel -->
<div id="carousel-example-generic" class="carousel slide jumbotron" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    

    <div class="item active">
      <div class="background">
		  	<%= image_tag 'cover_photo_lg.jpg', :alternate => "Slide 1", :class => "image" %>
		  </div>
      <div class="carousel-caption item" align="center">
  			<div class="item">
					<!-- <div class="brand-text background-header">
				  	<h2>Slim's Chance Foundation</h2>
				  </div> -->
					<div class="default-text">
				  	<h3>Created to help children, when they lose a parent due to a traumatic illness or sudden death.</h3>
					</div>
				  <div class="row ">
				  	<%= image_tag 'logo.png', :align => "left", :class => "logo"%>
					</div>
				  
				  <br>

					<div class="item text-center">
						<h3 class="default-textx" align="center"><strong class="brand-text-lt">S</strong>top <strong class="brand-text-lt">L</strong>etting <strong class="brand-text-lt">I</strong>nnocence <strong class="brand-text-lt">M</strong>is<strong class="brand-text-lt">S</strong> (out)!</h3> 
					</div>
				 
				  
					<div>
				  	<p><%= button_to "Learn More", about_path, method: :get, align: 'center', class: 'btn btn-primary btn-lg' %></p>
				  </div>
				</div>

      </div>
    </div>


    <div class="item">
      <div class="background">
		  	<%= image_tag 'baseball_camp_team.jpg', :alternate => "Slide 2", :class => "image" %>
		  </div>
      <div class="carousel-caption">
  			<div class="bottom" style="width: 50%; margin: 0 auto;">
					<div class=" row brand-text-lt background-header" style="padding: 1% 0%">
				  	<h2 id="slide-title">SC Baseball Camp</h2>
				 		<div class="default-textx">
					  	<h4>New Session Registration</h4> 
					  	<h4>July 20th</h4>
					  </div>
					</div>
				  <br>
				  
					<div>
				  	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
				  </div>
				</div>

      </div>
    </div>


    <!-- <div class="item">
      <div class="background">
		  	<%= image_tag 'valentines_day_1.jpg', :alternate => "Slide 3", :class => "image" %>
		  </div>
      <div class="carousel-caption">
  			<div>
					<div class="brand-text-lt background-header">
				  	<h2>Valentine's Day Dinner Benefit</h2>
				  </div>

				  <h4>Placeholder - Top</h4>

				  <br>
				  
					<div>
				  	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
				  </div>
				</div>

      </div>    
    </div> -->


    <div class="item">
      <div class="background">
		  	<%= image_tag 'cover_photo_kid_bw.jpg', :alternate => "Slide 4", :class => "image" %>
		  </div>
      <div class="carousel-caption">
  			<div class="bottom">
					<div class="brand-text-lt background-header">
				  	<h2 id="slide-title">Slim's Chance Foundation</h2>
				  </div>
					<div>
				  	<h3>Making lives better, one kid at a time.</h3>
					</div>
				  <br>
				  
					<div>
				  	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
				  </div>
				</div>

      </div>    
    </div>



  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>