  <!-- Section #1 -->
  <section id="home-one" data-speed="9" data-type="background" class="align-center-slim special">
    <div class="container-home">     
    </div>
  </section>


  <!-- Section #2 -->
  <section id="home-two" data-speed="4" data-type="background" class="align-center-slim border-home-top">
    <div class="container-fluid">
      <div class="row text-center center-vert three-pillars">
        <div class="col-md-4 col-center">
          <div class="row" id="about-object">
            <div class="col-md-4">
              <%= image_tag "teach_wht.png", size: "120x100", :class => "" %>
            </div>
            <div class="col-md-8 center-vert">
              <h5>
                Teach
              </h5> 
              <button type="button" class="btn btn-brand">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-center">
          <div class="row" id="about-object">
            <div class="col-md-4">
              <%= image_tag "mentor.gif", size: "100x100", :class => "" %>
            </div>
            <div class="col-md-8 center-vert">
              <h5>
                Mentor
              </h5> 
              <button type="button" class="btn btn-brand">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-center">
          <div class="row" id="about-object">
            <div class="col-md-4">
              <%= image_tag "support.png", size: "110x100", :class => "" %>
            </div>
            <div class="col-md-8 center-vert">
              <h5>
                Support
              </h5> 
              <button type="button" class="btn btn-brand">
                Learn More
              </button>
            </div>
          </div>
        </div>
      </div>
        <br>
      <div class="row text-center center-vert stats border-home-bottom">
        <%= image_tag "number_of_kids.png" %>
        <h2>1-in-9 kids will lose a parent to sudden death or traumatic illness</h2>
        <div class="col-md-4 col-center">
          <div class="row" id="stat-object">
            
            <h3> 3 times </h3>
            <h6 style="color: black">
              more likely to suffer from <br>
              <strong>Depression</strong> or <strong>PTSD</strong>
            </h6> 
         
          </div>
        </div>
        <div class="col-md-4 col-center">
          <div class="row" id="stat-object">
            
            <h3> $245,340 </h3>
            <h6 style="color: black">
              cost of raising a child in 2013 <br>
              <font size="1">(according to U.S Dept of Agriculture in 2014)</font>
            </h6> 
         
          </div>
        </div>
        <div class="col-md-4 col-center">
          <div class="row" id="stat-object">
            
            <h3> 1.5 million </h3>
            <h6 style="color: black">
              children surviving the loss of a parent 
            </h6>
         
          </div>
        </div>

      </div>
    </div>
  </section>




  <!-- Section #3 -->
  <section id="home-three" data-speed="5" data-type="background" class="align-center-slim special">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12 hero-unit">
          <h2>The Impact On Our Mission</h2>
          <p>How did the backstory drive your desire to start the foundation.</p>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
          <br>
          <p><%= button_to "Our Mission", about_path, method: :get, align: 'center', class: 'btn btn-primary btn-lg' %></p>
        </div>
  
        <hr>

        <div class="col-md-12 hero-unit text-center">
          <h2><i>"Easing the burden, one child at a time."</i></h2>
        </div>
      </div>
    </div>

    <script>$window = $(window);</script>

    <br>
    <br>
    <br>
  </section>