<div class="container-fluid special">
	<!-- Carousel -->
	<div id="carousel-example-generic" class="carousel slide jumbotron" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	    <!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    

	    <div class="item active">
	      <div class="background">
			  	<%= image_tag 'cover_photo_lg.jpg', :alternate => "Slide 1", :class => "image" %>
			  </div>
	      <div class="carousel-caption align-middle">
					<div class="bottom-caption">
					  <div class="brand-text-lt background-header">
					  	<h2 id="slide-title"><strong class="brand-text-only">S</strong>top <strong class="brand-text-only">L</strong>etting <strong class="brand-text-only"> <br> I</strong>nnocence <strong class="brand-text-only">M</strong>is<strong class="brand-text-only">S</strong> Out</h2>
					  </div>
					</div>
					<div class="tagline">
				  	<h3>Created to help children that have lost a parent, due to a traumatic illness or sudden death.</h3>
					</div>			
				  <div class="row ">
				  	<%= image_tag 'logo.png', :align => "left", :class => "logo"%>
					</div>
					
					<div class="bottom-btn">
				  	<p><%= button_to "Learn More", slim_path, method: :get, align: 'center', class: 'btn btn-primary btn-lg' %></p>
				  </div>
				</div>
	    </div>


	    <div class="item">
	      <div class="background">
			  	<%= image_tag 'baseball_camp_team.jpg', :alternate => "Slide 2", :class => "image" %>
			  </div>
	      <div class="carousel-caption align-middle">
	  			<div class="bottom-caption-two">
					  <div class="brand-text-lt background-header">
					  	<h2 id="slide-title">Slims Chance <br> Baseball Camp</h2>
					  </div>
					</div>
					<div class="tagline-two">
				  	<h3>Registration <br> Starting Soon!</h3>
					</div>

					<br>
					  
					<div class="bottom-btn-two">
				  	<p><%= button_to "Learn More", events_path, method: :get, align: 'center', class: 'btn btn-primary btn-lg' %></p>
				  </div>
				</div>
	    </div>


	    <!-- <div class="item">
	      <div class="background">
			  	<%= image_tag 'valentines_day_1.jpg', :alternate => "Slide 3", :class => "image" %>
			  </div>
	      <div class="carousel-caption align-middle">
	  			<div>
						<div class="brand-text-lt background-header">
					  	<h2>Valentine's Day Dinner Benefit</h2>
					  </div>

					  <h4>Placeholder - Top</h4>

					  <br>
					  
						<div>
					  	<p><a class="btn btn-primary btn-lg">Learn more</a></p>
					  </div>
					</div>

	      </div>    
	    </div> -->


	    <div class="item">
	      <div class="background">
			  	<%= image_tag 'cover_photo_kid_bw.jpg', :alternate => "Slide 4", :class => "image" %>
			  </div>
	      <div class="carousel-caption align-middle">
	  			<div class="bottom-caption-four">
						<div class="brand-text-lt background-header">
					  	<h2 id="slide-title">Slim's Chance Foundation</h2>
					  </div>
					</div>	
					<div class="tagline-four">
				  	<h3>Making lives better, one kid at a time.</h3>
					</div>

					<div class="bottom-btn-four">
				  	<p><%= button_to "Learn More", about_path, method: :get, align: 'center', class: 'btn btn-primary btn-lg' %></p>
				  </div>			
	      </div>    
	    </div>



	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</div>