<!-- <p></p>

<div class="container">
	<ol class="breadcrumb text-left">
	  <li><%= link_to "Home", root_path %></li>
	  <li><a href="#">About</a></li>
	  <li class="active">About Slim</li>
	</ol>
</div>
<br> -->

<!-- <div class="jumbotron">
  <div class="text-center brand-text">

  	<h2>About Slim</h2>

	</div>
</div>	 -->


<div class="align-center-slim special">

  <!-- Section #1 -->
  <section id="intro" data-speed="9" data-type="background" class="align-center-slim special">
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-12 text-center">
          <div class="hero-unit">
            <h2 style="margin: 0px auto;">About Slim</h2>
          </div>
          <div class="well" style="margin: 2px;">
            <%= image_tag "slim2.jpg", size: "570x320", :class => "img-rounded img-responsive" %>
          </div>      
        </div>

        <div class="row-fluid text-center">
          <div class="col-md-12 hero-unit">
            <!-- <h2>Background</h2> -->
            <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section #2 -->
  <section id="home-col-two" data-speed="4" data-type="background" class="align-center-slim special">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 well role-object">
          <%= image_tag "father_portrait.png", size: "250x270", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Father</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
        <div class="col-md-4 well role-object">
          <%= image_tag "son.png", size: "250x270", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Son</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 well role-object">
          <%= image_tag "brother.png", size: "250x270", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Brother</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
        <div class="col-md-3 well role-object">
          <%= image_tag "uncle.png", size: "250x270", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Uncle</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
      </div>
    </div>
  </section>
  <section id="home-col-four" data-speed="4" data-type="background" class="align-center-slim special">
    <div class="container-fluid">
      <div class="row row-centered">
        <div class="col-md-3 well role-object col-centered">
          <%= image_tag "father_portrait.png", size: "170x190", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Father</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
        <div class="col-md-3 well role-object col-centered">
          <%= image_tag "son.png", size: "170x190", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Son</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
        <div class="col-md-3 well role-object col-centered">
          <%= image_tag "brother.png", size: "170x190", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Brother</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
        <div class="col-md-3 well role-object col-centered">
          <%= image_tag "uncle.png", size: "170x190", :class => "img-rounded" %>
          <div class="role-object-title" align="center">
            <h2>Uncle</h2>
          </div>
          <!-- <p>Text Here.</p> -->
        </div>
      </div>
    </div>
  </section>

  <!-- Section #3 -->
  <section id="about" data-speed="2" data-type="background" class="align-center-slim special">
    <div class="container">
      <div class="row-fluid">
      <hr>
        <div class="col-md-12 hero-unit">
          <h2>The Impact On Our Mission</h2>
          <p>How did the backstory drive your desire to start the foundation.</p>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h5>
          <br>
          <p><%= button_to "Our Mission", about_path, method: :get, align: 'center', class: 'btn btn-primary btn-lg' %></p>
        </div>
  
        <hr>

        <div class="col-md-12 hero-unit">
          <h2>Foundation Focus</h2>
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag "check.png", :class => "media object img-responsive" %>
            </a>
            <div class="media-body">
                <h4 class="media-heading">Mentoring</h4>
                How do you do it?
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag "check.png", :class => "media object img-responsive" %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Teaching</h4>
              How do you do it?
            </div>
          </div>
          <div class="media">
            <a class="pull-left" href="#">
              <%= image_tag "check.png", :class => "media object img-responsive" %>
            </a>
            <div class="media-body">
              <h4 class="media-heading">Financial Support</h4>
              How do you do it?
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>$window = $(window);</script>

  </section>
</div>