<!DOCTYPE html>
<html>
<head>
  <title>Slim's Chance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">

	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	      <%= link_to root_path, class: 'brand' do %>
          <%= image_tag 'logo_sm_no_name.png', :class => "brand" %> Slim's Chance Foundation
        <% end %>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-tabs">
	        <li class="<%= active_class(root_path) %>"><%= link_to "Home", root_path %></li>
          <li class="<%= active_class(contact_path) %>"><%= link_to "Contact Us", contact_path %></li>

					<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li class="<%= active_class(about_path) %>"><%= link_to "Our Mission", about_path %></li>
	            <li class="<%= active_class(slim_path) %>"><%= link_to "About Slim", slim_path %></li>
	          </ul>
	        </li>


	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="#">Baseball Camp</a></li>
	            <li><a href="#">Valentine's Day Dinner</a></li>
	            <li><a href="#">5k Road Race</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Another Event</a></li>
	            <li class="divider"></li>
	            <li><a href="#">Another Event</a></li>
	          </ul>
	        </li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Donate <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li class="<%= active_class(about_path) %>"><%= link_to "PayPal", about_path %></li>
	            <li class="<%= active_class(slim_path) %>"><%= link_to "Credit Card", slim_path %></li>
	          </ul>
	        </li>

	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
		      <li><form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
		      </li></form>
		      <li><a href="#"></a></li>
	        <li><a href="#">Admin</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>

<div class="container-fluid special">
	<%= yield %>
</div>

</body>
</html>
