<!DOCTYPE html>
<html>
<head>
  <title>Slim's Chance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container">
	    <div class="navbar-header">

	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>

	      <div class="brand-logo">
	      	<%= link_to root_path, class: 'brand-logo' do %>
          	<%= image_tag 'slims_chance_logo.png', :class => '' %> Slim's Chance
        	<% end %>
        </div>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right" id="menu-main">
	        <!-- <li class="<%= active_class(root_path) %>"><%= link_to "Home", root_path %></li> -->
          <li class="<%= active_class(about_path) %>"><%= link_to "Who We Are", about_path %></li>
          <li class="<%= active_class(pillar_path) %>"><%= link_to "What We Do", pillar_path %></li>
          <li class="<%= active_class(camp_path) %>"><%= link_to "Baseball Camp", camp_path %></li>

	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Donate <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu" id="sub-link">
	            <li class="<%= active_class(slim_path) %>"><%= link_to "Credit Card", slim_path %></li>
	            <li class="<%= active_class(about_path) %>"><%= link_to "PayPal", about_path %></li>
	            
	          </ul>
	        </li>
	        <li></li>

	      </ul>
	      
	    </div>
	  </div>
	</nav>

<div class="container-fluid">
	
	<% unless notice.nil? %>
		<p id="notice" class="notice"> <%= notice %></p>
		<p id="alert" class="alert"> <%= alert %></p>
	<% end %>

	<%= yield %>
</div>


</body>
</html>
